<nav class="top-navigation">
  <ul class="links">
    <% if user_signed_in? %>
      <li>Signed in as <%=current_user.email%></li>
      <li class="button_black"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
      <li class="button_black"><%= link_to 'Contact Us', contact_path %></li>
      <li class="button_black"><%= link_to 'Products Page', products_path %></li>
      <li class="home_button"><%= link_to 'Home Page', root_path %></li>
      <li class="home_button"><%= link_to 'Admin', admin_path %></li>
      <%else%>
      <li class="button_black"><%= link_to 'Sign In', new_user_session_path %></li>
      <li class="button_black"><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li class="button_black"><%= link_to 'Contact Us', contact_path %></li>
      <li class="button_black"><%= link_to 'Products Page', products_path %></li>
      <li class="home_button"><%= link_to 'Home Page', root_path %></li>
      <li class="home_button"><%= link_to 'Admin', admin_path %></li>

    <%end%>
  </ul>
  <p class="notice_style"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</nav>

<body>

<header><h2>&lt;Welcome to Wynshop!!&gt;</h2>
<p class="head_title">A Place for Wyncoders to Shop</p>
</header>


<article class="no_padding">

<div class="image">
</div>

</article>

<footer>
  <div class="footer_menu">
  <h3>&lt;Wynshop Products&gt;</h3>
  <p>All Rights reserved to: Team 6</p>
</div>
</footer>
</body>
