<nav class="top-navigation">
    <ul class="links">
      <li class="button_black"><%= link_to 'Contact Us', contact_path %></li>
      <li class="button_black"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
      <li class="button_black"><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li class="button_black"><%= link_to 'Sign In', new_user_session_path %></li>
      <li class="button_black"><%= link_to 'Go to Products Page', products_path %></li>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</nav>

<body>

<header><h2>&lt;Welcome to Wynshop!!&gt;</h2>
<p class="head_title">Some Nice Mini Title Goes Here</p>
</header>


<article>
  <p id="notice"><%= notice %></p>
  <div class="products-block">
    <% @products.each do |product| %>
    <div class="product_single_box">
      <ul>
        <li class="product_name"><%= product.name %></li>
        <li><%= product.description %></li>
        <!-- <li class="product_price">
          <p>
            <strong>Price:$</strong>
            <%= product.formatted_price %>
          </p>
        </li> -->
        <li><%= link_to image_tag(product.image.url,:size => "180x220"), product.image.url %></li>
      </li>
        <li class="button_blue"><%= link_to 'See Details', product %></li>
      </ul>
    </div>
    <% end %>
  </div>
</article>

<footer>
  <div class="footer_menu">
  <h3>&lt;Wynshop Products&gt;</h3>
  <p>All Rights reserved to: Team 6</p>
</div>
</footer>
</body>
