<nav class="top-navigation">
    <ul class="links">
      <li class="button_black"><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li class="button_black"><%= link_to 'Sign In', new_user_session_path %></li>
      <li class="button_black"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
      <li class="button_black"><%= link_to 'Contact Us', contact_path %></li>
      <li class="button_black"><%= link_to 'Home Page', root_path %></li>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</nav>


<body>

<header><h2>&lt;Welcome Wynshop Admin&gt;</h2></header>

<article class='article_admin'>
  <p id="notice"><%= notice %></p>
  <br>
  <%= link_to 'Create a New Product', new_product_path %>
  <br>
  <%= link_to 'Go to Products Page', products_path %>
  <br>

  <table>
    <thead>
      <tr>

        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Update</th>
        <th>Delete</th>

      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.formatted_price %></td>
          <td><%= link_to 'See Details', product %></td>
          <td><%= link_to 'Edit Product', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>





</article>

<footer>
  <div class="footer_menu">
  <h3>&lt;Wynshop Products&gt;</h3>
  <p>All Rights reserved to: Team 6</p>
</div>
</footer>
</body>
