<nav class="top-navigation">
  <ul class="links">
    <% if user_signed_in? %>
      <li class="button_black"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
      <li class="button_black"><%= link_to 'Contact Us', contact_path %></li>
      <li class="button_black"><%= link_to 'Products Page', products_path %></li>
      <li class="home_button"><%= link_to 'Home Page', root_path %></li>
      <li class="sign_in_notice">Signed in as <br><%=current_user.email%></li>
      <%else%>
      <li class="button_black"><%= link_to 'Sign In', new_user_session_path %></li>
      <li class="button_black"><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li class="button_black"><%= link_to 'Contact Us', contact_path %></li>
      <li class="button_black"><%= link_to 'Products Page', products_path %></li>
      <li class="home_button"><%= link_to 'Home Page', root_path %></li>
    <%end%>
  </ul>
</nav>

<body>

  <header>
    <div class="notice_box">
      <p class="notice_style"><%= notice %></p>
      <p class="notice_style"><%= alert %></p>
    </div>
    <h2>Details for: <%= @product.name %></h2>
  </header>

  <article>
    <div class="show_container">

      <div class="show_content">
      

        <h1>
          <%= @product.name %>
        </h1>

        <p>
          <strong>Description:</strong><br>
          <%= @product.description %>
        </p>

        <p>
          <h1>Price: $<%= @product.formatted_price %></h1>
        </p>

        <%= link_to image_tag(@product.image.url,:size => "200x220"), @product.image.url %>
        <br>
        <br>
        <!-- <div class="home_button"><%= link_to 'BUY NOW', products_path %></div> -->
        <a class="home_button" <a target="_blank" href="http://eshop.macsales.com/item/Newer%20Technology/NGSMBPR15RD/?utm_source=google&utm_medium=shoppingengine&utm_campaign=googlebase&gclid=COqXuMep_coCFQpbhgod5s4C5w">BUY NOW</a>
      </div>

      <div class="show_content">

        <h3>Add a Review:</h3>
          <div class="review_container">
            <%= render 'reviews/form' %>
          </div>

        <h3><%= @product.name %> Reviews:</h3>
        <% @product.reviews.each do |review| %>
        <p>
          <%= review.comment %>
          <div class="review_information_size">
          Added by: <%= review.user.email %>
          on <%= "#{review.created_at.month}-#{review.created_at.day}-#{review.created_at.year}" %>
          <%if user_signed_in? && review.user_id == current_user.id %><br>
          <td><%= link_to 'Edit Review', edit_review_path(review) %> |</td>
          <td><%= link_to 'Delete Review', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

        </div>

        </p>
        <% end %>

      </div>
    </div>

  </article>

  <footer>
    <div class="footer_menu">
      <h3>&lt;Wynshop Products&gt;</h3>
      <p>All Rights reserved to: Team 6</p>
    </div>
  </footer>
</body>
